@mixin on-tablet {
  @media (min-width: $tablet-min-widht) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-widht) {
    @content;
  }
}

@mixin hover-standart($property, $toValue) {
  transition: #{$property} $effectDuration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }

  grid-template-columns: repeat(var(--columns), 1fr);
}
